<h1>This is about page</h1>
<p>This is a billing system , press Home button to view your billing history</p>
<p><%=link_to "Home" , root_path%> | 
<%=link_to "logout" , destroy_user_session_path, method: :delete%>
</p>
